[Unit]
Description=rclone GDrive Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=nice -n 5 rclone mount googledrive: /data/googledrive --vfs-cache-mode writes --checkers 1 --multi-thread-streams 1
# ExecStart=nice -5 rclone mount googledrive: /data/googledrive --vfs-cache-mode writes

[Install]
WantedBy=multi-user.target
