/*https://www.w3docs.com/snippets/css/how-to-style-buttons-with-css.html*/

.btn_channel_default {
        display: inline-block;
        background-color: #3a0b73;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

.btn_channel_on_air {
        display: inline-block;
        background-color: #792323;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

.btn_channel_default:hover {
        background-color: #7417e6;
      }

.btn_channel_on_air:hover {
        background-color: #e64343;
      }

/*.btn_channel_default:after {*/
/*        !*content: '\00bb';*!*/
/*        position: absolute;*/
/*        opacity: 0;*/
/*        top: 0;*/
/*        right: -20px;*/
/*        transition: 0.5s;*/
/*      }*/