/*https://www.w3docs.com/snippets/css/how-to-style-buttons-with-css.html*/

body {
        background: #606060;
        height: 100%;
}


.nav {
  background:  linear-gradient(#000000AA 40px, #00000000 120px);
  z-index: 1;
  color: #ffffff;
  transition: 400ms;
}


/*https://stackoverflow.com/questions/61225253/bootstrap-navbar-shrink-on-scroll*/
/*.navbar{*/
/*  transition: 400ms;*/
/*}*/
/*nav.navbar.shrink {*/
/*    width: 100%;*/
/*    height: 35px;*/
/*    background-color: #111;*/
/*    box-shadow: 0 1px 0 0 #dadada;*/
/*    position: fixed;*/
/*    left: 0px;*/
/*    transition: all 1.5s ease;*/
/*}*/
/*.tiny{*/
/*  width: 30px;*/
/*  height: 30px;*/
/*}*/


footer {
  background: #000000AA;
  position: -webkit-sticky;
  /*position: sticky;*/
  /*position: absolute;*/
  position: fixed;
  bottom: 0;
  height: 35px;
  z-index: 1;
  width: 100%;
  /*text-align: center;*/
  color: #ffffff;
}

.box_image {
        display:block;
        margin-left:auto;
        margin-right:auto;
        border-radius: 20px;
        border: 4px double #cccccc;
}

.btn_header, .btn_back, .btn_albums {
        display: inline-block;
        background-color: #505050;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 100px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        /*transform: translateY(30px);*/
      }

.btn_channel_default, .btn_album_default {
        display: inline-block;
        background-color: #3a0b73;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

.btn_channel_on_air {
        display: inline-block;
        background-color: #792323;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

.btn_header:hover, .btn_back:hover, .btn_albums:hover {
        background-color: #858585;
      }

.btn_channel_default:hover, .btn_album_default:hover {
        background-color: #7417e6;
      }

.btn_channel_on_air:hover {
        background-color: #e64343;
      }

.table_header_buttons, .table_footer_buttons, .table_albums_button {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

.td_header_buttons, .td_albums_buttons {
    border-right: solid 0px #000;
    border-left: solid 0px #000;
}

.link_footer {
    color: #606060;
}

.link_footer:hover {
        display: inline-block;
        /*background-color: #505050;*/
        /*border-radius: 20px;*/
        /*border: 4px double #cccccc;*/
        color: #cccccc;
        /*text-align: center;*/
        /*font-size: 28px;*/
        /*padding: 10px;*/
        /*width: 100px;*/
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        /*margin: 5px;*/
        /*transform: translateY(30px);*/
      }

/*.btn_channel_default:after {*/
/*        !*content: '\00bb';*!*/
/*        position: absolute;*/
/*        opacity: 0;*/
/*        top: 0;*/
/*        right: -20px;*/
/*        transition: 0.5s;*/
/*      }*/
