/*https://www.w3docs.com/snippets/css/how-to-style-buttons-with-css.html*/

body {
        background: #606060;
        height: 100%;
}


.nav {
  background:  linear-gradient(#000000AA 40px, #00000000 120px);
  z-index: 1;
  color: #ffffff;
}


footer {
  background: #000000AA;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 35px;
  z-index: 1;
  /*text-align: center;*/
  color: #ffffff;
}

.box_image {
        display:block;
        margin-left:auto;
        margin-right:auto;
        border-radius: 20px;
        border: 4px double #cccccc;
}

.btn_header {
        display: inline-block;
        background-color: #505050;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 100px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        /*transform: translateY(30px);*/
      }

.btn_channel_default {
        display: inline-block;
        background-color: #3a0b73;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

.btn_channel_on_air {
        display: inline-block;
        background-color: #792323;
        border-radius: 20px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

.btn_header:hover {
        background-color: #858585;
      }

.btn_channel_default:hover {
        background-color: #7417e6;
      }

.btn_channel_on_air:hover {
        background-color: #e64343;
      }

/*.btn_channel_default:after {*/
/*        !*content: '\00bb';*!*/
/*        position: absolute;*/
/*        opacity: 0;*/
/*        top: 0;*/
/*        right: -20px;*/
/*        transition: 0.5s;*/
/*      }*/
