{% extends 'player/box_base.html' %}

{% block refresh %}
{#Disable auto-refresh#}
{#<meta http-equiv="refresh" content="10">#}
{% endblock refresh %}

{% block channel_list %}
    <center>
    <div class="container">
        <h1>Suggestions</h1>
        {% for random_album in random_albums %}
            <button class="btn_album_default" title="{{ random_album.artist.name }} ({{ random_album.year }}) {{ random_album.album_title }}" onclick="window.location.href='/jukeoroni/{{ box_type }}/albums/{{ random_album.id }}';"><img width="100px" height="100px" style="border-radius: 10%" src="{{ random_album.album_cover }}"></button>
        {% endfor %}
    </div>
    <hr>
    <div>
        <div class="container">
            <h1>Albums</h1>
        <form action="{% url 'search_albums' %}" method="get">
          <input name="q" type="text" placeholder="Search...">
        </form>

    <div class="container center">
            <!-- Pagination -->
{#            {% if is_paginated %}#}
{#    <center>#}
            <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <span>First</span>
                    </a>
                    </li>

                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <span>Prev</span>
                    </a>
                    </li>
                {% else %}
                    <li class="disabled page-item">
                    <a class="page-link" href="#">
                        <span>First</span>
                    </a>
                    </li>
                    <li class="disabled page-item">
                    <a class="page-link" href="#">
                        <span>Prev</span>
                    </a>
                    </li>
                {% endif %}

                <nav id="nav" >
{#                <ul id="nav" class="pagination justify-content-center" style="margin:20px 0">#}

                    {% for page in page_range %}
    {#                    {% if page|add:-5 <= page_obj.number or page|add:5 >= page_obj.number %}#}
                            <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                            <a class="page-link" href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a>
                            </li>
    {#                    {% endif %}#}
                    {% endfor %}
                </nav>

{#                {{ page_obj.number }}#}

                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <span>Next</span>
                    </a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <span>Last</span>
                    </a>
                    </li>
                {% else %}
                    <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                    <a class="page-link" href="#">
                        <span>Next</span>
                    </a>
                    </li>
                    <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        <span>Last</span>
                    </a>
                    </li>
                {% endif %}
                </ul>
{#    </center>#}
{#            {% endif %}#}
    </div>

            {% for album in page_obj %}
                <button class="btn_album_default" title="{{ album.artist }} ({{ album.year }}) {{ album.album_title }}" onclick="window.location.href='/jukeoroni/{{ box_type }}/albums/{{ album.id }}';"><img width="100px" height="100px" style="border-radius: 10%" src="{{ album.album_cover }}"></button>
            {% endfor %}
        </div>
{#    <br>#}
    </div>
    </center>
{% endblock channel_list %}