{% extends 'player/box_base.html' %}

{% block refresh %}
{#Disable auto-refresh#}
{#<meta http-equiv="refresh" content="10">#}
{% endblock refresh %}

{% block channel_list %}
    <center>
    <button class="btn_back" onclick="window.location.href='/jukeoroni';">Back</button>
    <hr>
    <div class="container">
        <h1>Suggestions</h1>
        {% for random_album in random_albums %}
            <button class="{{ random_album.class }}" title="{{ random_album.button_title }}" onclick="{{ random_album.onclick|safe }};">{{ random_album.artist }} ({{ random_album.year }}) {{ random_album.button_title }}</button>
        {% endfor %}
    <hr>
    </div>
    <div class="container">
        <h1>Albums</h1>
        {% for album in albums %}
            <button class="{{ album.class }}" title="{{ album.button_title }}" onclick="{{ album.onclick|safe }};">{{ album.artist }} ({{ album.year }}) {{ album.button_title }}</button>
        {% endfor %}
    </div>
    </center>
{% endblock channel_list %}