{% extends 'player/box_base.html' %}

{% block refresh %}
{#Disable auto-refresh#}
{#<meta http-equiv="refresh" content="10">#}
{% endblock refresh %}

{% block channel_list %}
    <center>
    <button class="btn_back" onclick="window.location.href='/jukeoroni';">Back</button>
    <hr>
    <div class="container">
        <h1>Suggestions</h1>
        {% for random_album in random_albums %}
            <button class="btn_album_default" title="{{ random_album.artist.name }} ({{ random_album.year }}) {{ random_album.album_title }}" onclick="window.location.href = {{ random_album.id }};"><img width="100px" height="100px" src="{{ random_album.album_cover }}"></button>
        {% endfor %}
    <hr>
        <div class="container">
            <h1>Albums</h1>
    <div class="container">
            <!-- Pagination -->
            {% if is_paginated %}
            <nav>
                <ul class="pagination justify-content-center" style="margin:20px 0">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <span>First</span>
                    </a>
                    </li>

                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span>Prev</span>
                    </a>
                    </li>
                {% else %}
                    <li class="disabled page-item">
                    <a class="page-link" href="#">
                        <span>First</span>
                    </a>
                    </li>
                    <li class="disabled page-item">
                    <a class="page-link" href="#">
                        <span>Prev</span>
                    </a>
                    </li>
                {% endif %}

                {% for page in page_range %}
                    <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span>Next</span>
                    </a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        <span>Last</span>
                    </a>
                    </li>
                {% else %}
                    <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                    <a class="page-link" href="#">
                        <span>Next</span>
                    </a>
                    </li>
                    <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        <span>Last</span>
                    </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
            {% endif %}
    </div>

            {% for album in page_obj %}
                <button class="btn_album_default" title="{{ album.artist }} ({{ album.year }}) {{ album.album_title }}" onclick="window.location.href = {{ album.id }};"><img width="100px" height="100px" src="{{ album.album_cover }}"></button>
            {% endfor %}
        </div>
    </div>
    </center>
{% endblock channel_list %}