{% extends 'jukeoroni/base.html' %}

    {% block header %}
        <nav class="navbar nav sticky-top navbar-default navbar-fixed-top">
        <div class="container">
        <table class="table_header_buttons" border="0" cellspacing="0">
            <tr style="border: none;">
            {% for button in buttons %}
                <td class="td_header_buttons" width="{{ button.column_width }}" style="padding: {{ button.padding }};">
                {% if button.button_title != '' %}
                    <button class="{{ button.class }}" title="{{ button.button_title }}" onclick="{{ button.onclick|safe }};">
                        <img width="{{ button.img_width }}" height="{{ button.img_height }}" src="{{ button.img_src }}">
                    </button>
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
        </div>
        </nav>
    {% endblock header %}

{% block box_navigation %}

    {% if inserted_media %}
        <div class="text_elements_box container" style="text-align: center;">
            <h1 align="center">Playing ({{ box.loader_mode }} mode)</h1>
        <table style="border:0px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <ol>


        {#          TODO: /player/track should not be hardcoded#}
                    <a class="link_track"  href="/admin/player/track/{{ inserted_media.id }}" target="_blank"><b>{{ inserted_media.track_title }}</b> by <b>{{ inserted_media.artist }}</b> ({{ inserted_media.album }})</a>

                </ol>
            </td>
        </tr>
        </table>
                </div>

    {% endif %}

    {% if queue %}
        <div class="text_elements_box container" style="text-align: center;">
        <h1>Next up</h1>

        <table style="border:0px solid black;margin-left:auto;margin-right:auto;">
            <tr>
                <td>
                    <ol type="I">
                        {% for track in queue %}

                            <li> <a title="Remove from queue" href="/jukeoroni/{{ box.box_type }}/{{ forloop.counter0 }}/pop"> <img width="15px" height="15px" src="/jukeoroni/buttons_overlay/web/cross.png"></a> {% if forloop.counter0 != 0 %} <a title="Move to first position" href="/jukeoroni/{{ box.box_type }}/{{ forloop.counter0 }}/as_first"><img width="15px" height="15px" src="/jukeoroni/buttons_overlay/web/top.png"></a> {% endif %} <a class="link_track"  href="/admin/player/track/{{ track.id }}" target="_blank">{{ track }}</a></li>
{#                            <li> {% if forloop.counter0 == 0 %} <a href="#"><img width="15px" height="15px" src="/jukeoroni/buttons_overlay/web/top.png"></a>  {% else %} <a href="/jukeoroni/{{ box.box_type }}/{{ forloop.counter0 }}/as_first"><img width="15px" height="15px" src="/jukeoroni/buttons_overlay/web/top.png"></a> {% endif %} <a href="/jukeoroni/{{ box.box_type }}/{{ forloop.counter0 }}/pop"> <img width="15px" height="15px" src="/jukeoroni/buttons_overlay/web/cross.png"></a> <a class="link_track"  href="/admin/player/track/{{ track.id }}" target="_blank">{{ track }}</a></li>#}
{#                            <li><a class="link_track"  href="/admin/player/track/{{ track.id }}" target="_blank">{{ track }}</a><a href="/jukeoroni/{{ box.box_type }}/{{ box.tracks.index.forloop.counter }}/pop">X</a></li>#}
{#                            ret += '<td><button onclick=\"window.location.href = \'/jukeoroni/{1}/{0}/pop\';\">Remove from Queue</button></td>'.format(str(box.tracks.index(track)), str(box.box_type))#}

                        {% endfor %}
                    </ol>
                </td>
            </tr>
        </table>
        </div>
    {% endif %}

    {% if loading_track %}

        <div class="text_elements_box container" style="text-align: center;">
            <h1>Caching...</h1>

        <table style="border:0px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <ol>

            <a class="link_track"  href="/admin/player/track/{{ loading_track.id }}" target="_blank"><b>{{ loading_track.track_title }}</b> by <b>{{ loading_track.artist }}</b> ({{ loading_track.album }})</a>
            <p>{{ loading_track.progress }} ({{ loading_track.percent_cached }})</p>
            </ol>
            </td>
        </tr>
        </table>
        </div>
    {% endif %}
{#    </div>#}

    <div class="container">
        <table class="table_albums_button" border="0" cellspacing="0">
            <tr style="border: none;">

            {% for albums_button in albums_buttons %}
                <td class="td_albums_buttons" width="{{ button.column_width }}" style="padding: {{ button.padding }};">
                {% if albums_button.button_title != '' %}
                <button class="{{ albums_button.class }}" title="{{ albums_button.button_title }}" onclick="{{ albums_button.onclick|safe }};">
                    <img width="{{ albums_button.img_width }}" height="{{ albums_button.img_height }}" src="{{ albums_button.img_src }}">
                </button>
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
        </div>
{% endblock box_navigation %}
