{% extends 'player/box_base.html' %}

{#    {% block header %}#}
{#        <table border="0" cellspacing="0" style="text-align:center;margin-left:auto;margin-right:auto;border-collapse: collapse;">#}
{#            <tr style="border: none;">#}
{#            {% for button in buttons %}#}
{#                <td width="{{ button.column_width }}" style="border-right: solid 1px #000;border-left: solid 1px #000;padding: {{ button.padding }};">#}
{#                {% if button.button_title != '' %}#}
{#                    <button class="{{ class }}" title="{{ button.button_title }}" style="width:100%; height:{{ button.button_height}};" onclick="{{ button.onclick|safe }};">#}
{#                        <img width="{{ button.img_width }}" height="{{ button.img_height }}" src="{{ button.img_src }}">#}
{#                    </button>#}
{#                {% endif %}#}
{#                </td>#}
{#            {% endfor %}#}
{#            </tr>#}
{#        </table>#}
{#    {% endblock header %}#}

{#    {% block body %}#}
{#        <img id="picture" class="{{ encoded_img_data_class }}" src="data:image/jpeg;base64,{{ encoded_img_data|safe|slice:"2:-1" }}">#}
{#    {% endblock body %}#}

    {% block channel_list %}
        <center>
            {% for dict in channels_stationed %}
                {% for station, channels in dict.items %}
                    <div>
                        <h1>{{ station }}</h1>
                        {% for channel in channels %}
                            <button class="{{ channel.class }}" onclick="{{ channel.onclick }}"><img width="100px" height="100px" src="{{ channel.channel.url_logo }}" style="border-radius: 10%" alt="{{ channel.channel.display_name }}"></button>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        </center>

        <center>
            <h1>No Category</h1>
        </center>
        <center>
            {% for channel_unstationed in channels_unstationed %}
                <button class="{{ channel_unstationed.class }}" onclick="{{ channel_unstationed.onclick }}"><img width="100px" height="100px" src="{{ channel_unstationed.channel_unstationed.url_logo }}" style="border-radius: 10%" alt="{{ channel_unstationed.channel_unstationed.display_name }}"></button>
            {% endfor %}
        </center>
    {% endblock channel_list %}
