{% extends 'jukeoroni/base.html' %}

    {% block header %}
        <nav class="navbar nav sticky-top navbar-default navbar-fixed-top">
        <div class="container">
        <table class="table_header_buttons" border="0" cellspacing="0">
            <tr style="border: none;">
            {% for button in buttons %}
                <td class="td_header_buttons" width="{{ button.column_width }}" style="padding: {{ button.padding }};">
                {% if button.button_title != '' %}
                    <button class="{{ button.class }}" title="{{ button.button_title }}" onclick="{{ button.onclick|safe }};">
                        <img width="{{ button.img_width }}" height="{{ button.img_height }}" src="{{ button.img_src }}">
                    </button>
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
        </div>
        </nav>
    {% endblock header %}

{% block box_navigation %}
    <hr>
    <div class="container">
        <table class="table_albums_button" border="0" cellspacing="0">
            <tr style="border: none;">
            {% for albums_button in albums_buttons %}
                <td class="td_albums_buttons" width="{{ button.column_width }}" style="padding: {{ button.padding }};">
                {% if albums_button.button_title != '' %}
                <button class="{{ albums_button.class }}" title="{{ albums_button.button_title }}" onclick="{{ albums_button.onclick|safe }};">
                    <img width="{{ albums_button.img_width }}" height="{{ albums_button.img_height }}" src="{{ albums_button.img_src }}">
                </button>
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
        </div>
{% endblock box_navigation %}
