{% load static %}
{#NEVER FORGET TO UPDATE NGINX CONFIG!!!#}

{# Load Django Bootstrap #}
{% load django_bootstrap5 %}

{% block html_head %}
<!DOCTYPE html>
<html lang="en">
{% endblock html_head %}

    <head>
    {% block head %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'custom.css' %}" type="text/css">
{#        <script src="{% static 'shrink_navbar.js' %}" type="application/javascript"></script>#}
        <meta charset="UTF-8">
        {% block refresh %}
            <meta http-equiv="refresh" content="10">
        {% endblock refresh %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <title>JukeOroni</title>
    {% endblock head %}
    </head>

    <body>
    {% block header %}
    {% endblock header %}

    {% block body %}
        <img id="picture" class="{{ encoded_img_data_class }}" src="data:image/jpeg;base64,{{ encoded_img_data }}">
    {% endblock body %}

    {% block vol %}
        {% csrf_token %}

        <div class="text_elements_box container" style="text-align: center;">
        <table class="table_vol_buttons" border="0" cellspacing="0">
            <tr style="border: none;">
                <td class="td_vol_buttons" style="padding:5px;">
                    <button class="btn_vol" id="vol_down"><img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/media-player-ui/512/Media-Icon-5-512.png"></button>
                    <button class="btn_vol" id="vol_reset">{{ volume }}</button>
                    <button class="btn_vol" id="vol_up"><img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/media-player-ui/512/Media-Icon-6-512.png"></button>
                </td>
            </tr>
        </table>
        </div>

        <div class="text_elements_box container" style="text-align: center;">
            <table class="table_eq_buttons" border="0" cellspacing="0">
                <tr style="border: none;">
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_31hz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_63hz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_125hz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_250hz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_500hz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_1khz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_2khz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_4khz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_8khz">+</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="up_16khz">+</button></td>
                </tr>
                <tr style="border: none;">
                    <td id="display_eq_31hz"><button class="btn_eq" id="reset_31hz">{{ eq_31hz }}</button></td>
                    <td id="display_eq_63hz"><button class="btn_eq" id="reset_63hz">{{ eq_63hz }}</button></td>
                    <td id="display_eq_125hz"><button class="btn_eq" id="reset_125hz">{{ eq_125hz }}</button></td>
                    <td id="display_eq_250hz"><button class="btn_eq" id="reset_250hz">{{ eq_250hz }}</button></td>
                    <td id="display_eq_500hz"><button class="btn_eq" id="reset_500hz">{{ eq_500hz }}</button></td>
                    <td id="display_eq_1khz"><button class="btn_eq" id="reset_1khz">{{ eq_1khz }}</button></td>
                    <td id="display_eq_2khz"><button class="btn_eq" id="reset_2khz">{{ eq_2khz }}</button></td>
                    <td id="display_eq_4khz"><button class="btn_eq" id="reset_4khz">{{ eq_4khz }}</button></td>
                    <td id="display_eq_8khz"><button class="btn_eq" id="reset_8khz">{{ eq_8khz }}</button></td>
                    <td id="display_eq_16khz"><button class="btn_eq" id="reset_16khz">{{ eq_16khz }}</button></td>
                </tr>
                <tr style="border: none;">
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_31hz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_63hz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_125hz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_250hz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_500hz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_1khz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_2khz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_4khz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_8khz">-</button></td>
                    <td class="td_eq_buttons"><button class="btn_eq" id="down_16khz">-</button></td>
                </tr>
                <tr style="border: none;">
{#                    <td class="td_eq_buttons" style="padding:5px;"></td>#}
                    <td class="td_eq_buttons" style="padding:5px;">31 Hz</td>
                    <td class="td_eq_buttons" style="padding:5px;">63 Hz</td>
                    <td class="td_eq_buttons" style="padding:5px;">125 Hz</td>
                    <td class="td_eq_buttons" style="padding:5px;">250 Hz</td>
                    <td class="td_eq_buttons" style="padding:5px;">500 Hz</td>
                    <td class="td_eq_buttons" style="padding:5px;">1 kHz</td>
                    <td class="td_eq_buttons" style="padding:5px;">2 kHz</td>
                    <td class="td_eq_buttons" style="padding:5px;">4 kHz</td>
                    <td class="td_eq_buttons" style="padding:5px;">8 kHz</td>
                    <td class="td_eq_buttons" style="padding:5px;">16 kHz</td>
                </tr>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js"
              integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous"></script>

        <script type="text/javascript">

        $('#vol_up').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "vol_up" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#vol_reset').html(response.new_vol);
                        }
                })
            });

        $('#vol_reset').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "vol_reset" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#vol_reset').html(response.new_vol);
                        }
                })
            });

        $('#vol_down').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "vol_down" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#vol_reset').html(response.new_vol);
                        }
                })
            });





        $('#up_31hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_31hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_31hz').html(response.new_vol);
                        }
                })
            });

        $('#reset_31hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_31hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_31hz').html(response.new_vol);
                        }
                })
            });

        $('#down_31hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_31hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_31hz').html(response.new_vol);
                        }
                })
            });





        $('#up_63hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_63hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_63hz').html(response.new_vol);
                        }
                })
            });

        $('#reset_63hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_63hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_63hz').html(response.new_vol);
                        }
                })
            });

        $('#down_63hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_63hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_63hz').html(response.new_vol);
                        }
                })
            });





        $('#up_125hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_125hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_125hz').html(response.new_vol);
                        }
                })
            });

        $('#reset_125hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_125hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_125hz').html(response.new_vol);
                        }
                })
            });

        $('#down_125hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_125hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_125hz').html(response.new_vol);
                        }
                })
            });





        $('#up_250hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_250hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_250hz').html(response.new_vol);
                        }
                })
            });

        $('#reset_250hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_250hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_250hz').html(response.new_vol);
                        }
                })
            });

        $('#down_250hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_250hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_250hz').html(response.new_vol);
                        }
                })
            });





        $('#up_500hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_500hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_500hz').html(response.new_vol);
                        }
                })
            });

        $('#reset_500hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_500hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_500hz').html(response.new_vol);
                        }
                })
            });

        $('#down_500hz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_500hz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_500hz').html(response.new_vol);
                        }
                })
            });





        $('#up_1khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_1khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_1khz').html(response.new_vol);
                        }
                })
            });

        $('#reset_1khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_1khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_1khz').html(response.new_vol);
                        }
                })
            });

        $('#down_1khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_1khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_1khz').html(response.new_vol);
                        }
                })
            });





        $('#up_2khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_2khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_2khz').html(response.new_vol);
                        }
                })
            });

        $('#reset_2khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_2khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_2khz').html(response.new_vol);
                        }
                })
            });

        $('#down_2khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_2khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_2khz').html(response.new_vol);
                        }
                })
            });





        $('#up_4khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_4khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_4khz').html(response.new_vol);
                        }
                })
            });

        $('#reset_4khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_4khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_4khz').html(response.new_vol);
                        }
                })
            });

        $('#down_4khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_4khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_4khz').html(response.new_vol);
                        }
                })
            });





        $('#up_8khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_8khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_8khz').html(response.new_vol);
                        }
                })
            });

        $('#reset_8khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_8khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_8khz').html(response.new_vol);
                        }
                })
            });

        $('#down_8khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_8khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_8khz').html(response.new_vol);
                        }
                })
            });





        $('#up_16khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "up_16khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_16khz').html(response.new_vol);
                        }
                })
            });

        $('#reset_16khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "reset_16khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_16khz').html(response.new_vol);
                        }
                })
            });

        $('#down_16khz').click(function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "down_16khz" %}',
                data:
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(response){
                      $('#reset_16khz').html(response.new_vol);
                        }
                })
            });





        {#https://djangocentral.com/django-ajax-with-jquery/#}

        </script>

    {% endblock vol %}

{#    {% block equalizer %}#}
{#        <div class="slidecontainer">#}
{#            <input type="range" min="0" max="100" value="66" class="slider" id="myRange" step="1">#}
{#        </div>#}
{#    {% endblock equalizer %}#}

    {% block box_navigation %}
    {% endblock box_navigation %}

    {% block channel_list %}
    {% endblock channel_list %}

    {% block footer %}
        <footer class="sticky-bottom">
        <div class="container">
        <table class="table_footer_buttons">
            <tr style="border: none;">
                <td style="border-right: solid 1px #000;border-left: solid 1px #000;padding: 5px 10px;">
                    <a class="link_footer" href="/admin" target="_blank">Admin</a>
                </td>
                <td style="border-right: solid 1px #000;border-left: solid 1px #000;padding: 5px 10px;">
                    <a class="link_footer" href="/transmission" target="_blank">Transmission</a>
                </td>
                <td style="border-right: solid 1px #000;border-left: solid 1px #000;padding: 5px 10px;">
                    <a class="link_footer" href="/webmin" target="_blank">Webmin</a>
                </td>
            </tr>
        </table>
        </div>
        </footer>
    {% endblock footer %}
    </body>

{% block html_foot %}
    <br>
    <br>
</html>
{% endblock html_foot %}