{% load static %}
{#NEVER FORGET TO UPDATE NGINX CONFIG!!!#}

{# Load Django Bootstrap #}
{% load django_bootstrap5 %}

{% block html_head %}
<!DOCTYPE html>
<html lang="en">
{% endblock html_head %}

    <head>
    {% block head %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'custom.css' %}" type="text/css">
{#        <script src="{% static 'shrink_navbar.js' %}" type="application/javascript"></script>#}
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="10">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <title>Home</title>
    {% endblock head %}
    </head>

    <body>
    {% block header %}
    {% endblock header %}

    {% block body %}
        <img id="picture" class="{{ encoded_img_data_class }}" src="data:image/jpeg;base64,{{ encoded_img_data|safe|slice:"2:-1" }}">
    {% endblock body %}

    {% block channel_list %}
    {% endblock channel_list %}

    {% block footer %}
        <footer class="sticky-bottom">
        <div class="container">
        <table style="text-align:center;margin-left:auto;margin-right:auto;border-collapse: collapse;">
            <tr style="border: none;">
                <td style="border-right: solid 1px #000;border-left: solid 1px #000;padding: 5px 10px;">
                    <a href="/admin" target="_blank">Admin</a>
                </td>
                <td style="border-right: solid 1px #000;border-left: solid 1px #000;padding: 5px 10px;">
                    <a href="/transmission" target="_blank">Transmission</a>
                </td>
                <td style="border-right: solid 1px #000;border-left: solid 1px #000;padding: 5px 10px;">
                    <a href="/webmin" target="_blank">Webmin</a>
                </td>
            </tr>
        </table>
        </div>
        </footer>
    {% endblock footer %}
    </body>

{% block html_foot %}
</html>
{% endblock html_foot %}